.appBarTitle{
    margin: 0;
    padding-left: 20px; /* Keep the title away from the very edge */
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Consider removing text shadow if background is white */
}


.appBar {
    /* Gradient starts with blue and transitions to white at 30% of the width */
    /* background: linear-gradient(to right, #4285F4 0%, #4285F4 30%, white 30%, white 100%); */
    /* background: linear-gradient(to right, #4285F4 0%, #4285F4 30%, white 90%); */
    /* background: linear-gradient(to right, #674d71 0%, #8e62a0 55%, white 100%); */
    background: #8e62a0;
    padding: 20px;
    margin-bottom: 30px;
    color: white; /* You might need to adjust the text color depending on the background */
    font-family: sans-serif;
    border-bottom: 4px solid #ccc;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 35%)
}

