/* .iframe {
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.125);
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    width: 110%;
    height: 74%;
}
.iframevideo {
    width: 90%;
    height: 70%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.125);
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
} */